* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* no auto padding and margin */ }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 80px; }

.u-margin-bottom-small {
  margin-bottom: 20px; }

.u-margin-bottom-4 {
  margin-bottom: 40px; }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    /*to animate in x axis */ }
  80% {
    transform: translateX(30px); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* looks the way exactly it is right now */ } }

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(100px);
    /*to animate in x axis */ }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* looks the way exactly it is right now */ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
    /*to animate in x axis */ }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    /* looks the way exactly it is right now */ } }

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px; }

.logo {
  height: 50px; }

body {
  font-family: 'Lato', sans-serif;
  /*all children will inherit the font */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*determines the back part is visible or hidden and is used to correct the auomating shaking*/ }
  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5px;
    animation-name: moveInleft;
    animation-duration: 2s; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 10px;
    animation-name: moveInright;
    animation-duration: 2s; }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #86c286, #04a004);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(2deg) scale(1.1);
    text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3); }

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.paragraph {
  font-size: 1rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 1.8rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 200px 0;
  background-image: linear-gradient(to right bottom, #7ed56fc9, #28b485c2), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -120px; }
  .section-features > * {
    transform: skewY(7deg);
    /* selects only the direct child */ }

.section-places-to-visit {
  background-color: #f7f7f7;
  padding: 250px 0px 250px 0px;
  margin-top: -100px; }

.section-stories {
  padding: 150px 0;
  position: relative; }

.section-book {
  padding: 150px 0;
  background-image: linear-gradient(to right bottom, #7ed56fc9, #28b485c2); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 255, 0) 50%), url("../img/nat-10.jpg");
  background-size: 100%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3); }
  .book__form {
    width: 50%;
    padding: 60px; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all .2s;
  margin-top: 60px;
  position: relative;
  border: none;
  cursor: pointer; }

.btn-white {
  background-color: white;
  color: gray; }

.btn--green {
  background-color: #008600;
  color: white; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  /*creates a button*/
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-white::after {
  background-color: white; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-animated {
  animation: moveInBottom .5s ease-out 1.5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1rem;
  color: #09a809;
  text-decoration: none;
  border-bottom: 3px solid #09a809;
  padding: 3px;
  transition: all .3s; }

.btn-text:hover {
  background-color: #09a809;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fc9, #28b485c2), url("../img/124.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

.row {
  max-width: 1140px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 80px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 60px; }
  .row .col-1-of-2 {
    width: calc((100% - 60px)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*(60px))/3); }
  .row .col-1-of-4 {
    width: calc((100% - 3*(60px))/4); }
  .row .col-2-of-3 {
    width: calc(2*(100% - 2*(60px))/3 + 60px); }
  .row .col-2-of-4 {
    width: calc(2*(100% - 3*(60px))/4 + 60px); }
  .row .col-3-of-4 {
    width: calc(3*(100% - 3*(60px))/4 + 2*60px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    position: absolute;
    transition: all .2s;
    outline-offset: 20px;
    z-index: 10; }
    .composition__photo--p1 {
      left: 0;
      top: -20px; }
    .composition__photo--p2 {
      right: 0;
      top: 20px; }
    .composition__photo--p3 {
      left: 20%;
      top: 100px; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 25px 40px rgba(0, 0, 0, 0.6);
      z-index: 20;
      outline: 15px solid green;
      border-radius: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.feature-box {
  background-color: rgba(248, 241, 241, 0.8);
  font-size: 16px;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .feature-box__icon {
    font-size: 60px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, #86c286, #04a004);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-15px) scale(1.05); }

.card {
  perspective: 1500px;
  -moz-perspective: 1500px;
  position: relative;
  height: 500px; }
  .card__side {
    background-color: red;
    color: white;
    height: 500px;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    width: 100%;
    backface-visibility: hidden;
    transition: all .8s ease;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #25ee25, #065806); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 230px;
    background-blend-mode: color;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #25ee25, #065806), url(../img/nat-5.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-5.jpg); }
  .card__heading {
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 120px;
    right: 20px;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: 10px 15px;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(37, 238, 37, 0.8), rgba(6, 88, 6, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    color: black; }
    .card__details ul li {
      text-align: center;
      font-size: 15px;
      padding: 10px; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: white;
    margin-bottom: 80px; }
  .card__price-only {
    font-size: 20px;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 32px;
    font-weight: 300; }

.story {
  width: 75%;
  margin: 0px auto 50px auto;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  transform: skewX(-15deg);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 60px;
  padding-left: 90px;
  font-size: 16px; }
  .story__text {
    transform: skewX(15deg); }
  .story__shape {
    width: 150px;
    height: 150px;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    position: relative;
    shape-outside: circle(50% at 50% 50%);
    backface-visibility: hidden;
    border-color: transparent;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-30px) skewX(15deg); }
  .story__img {
    height: 100%;
    transform: translateX(-40px) scale(1.4);
    backface-visibility: hidden;
    transition: all .6s; }
  .story__caption {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 16px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all .6s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1) translateX(-40px);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form {
  margin-left: 40px; }
  .form__group:not(:last-child) {
    margin-bottom: 20px; }
  .form__input {
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 2px;
    border-color: rgba(255, 255, 255, 0.5);
    font-family: inherit;
    border: none;
    border-bottom: 3px solid transparent;
    width: 45%;
    transition: all .2s;
    display: block; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid green; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #882c2c; }
    .form__input::-webkit-input-placeholder {
      color: #616161; }
  .form__input:placeholder-shown ~ .form_label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px); }
  .form_label {
    font-size: 12px;
    font-weight: 700;
    margin-left: 21px;
    margin-top: 10px;
    display: block;
    transition: all .3s; }
  .form__radio-group {
    width: 20%;
    margin-left: 40px;
    display: inline-block; }
  .form__radio-label {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    padding-left: 50px; }
  .form__radio-input {
    display: none; }
  .form__radio-button {
    height: 30px;
    width: 30px;
    border: 5px solid green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -14px;
    top: -7px; }
    .form__radio-button::after {
      height: 13px;
      width: 13px;
      display: block;
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: green;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }
