.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        padding: 15px 40px;
        border-radius: 100px;
        transition: all .2s;
        margin-top: 60px;
        position: relative;
    }
    &-white {
        background-color: white;
        color: gray;
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }
    &::after {
        /*creates a button*/
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &-white::after {
        background-color: white;
    }
    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    &-animated {
        animation: moveInBottom .5s ease-out 1.5s;
        animation-fill-mode: backwards;
    }
}