.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 200px 0;
    background-image: linear-gradient(to right bottom, #7ed56fc9, #28b485c2), url('../img/nat-4.jpg');
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -120px;
    &>* {
        transform: skewY(7deg);
        /* selects only the direct child */
    }
}

.section-places-to-visit {
    background-color: $color-grey-light-1;
    padding: 250px 0px 250px 0px;
    margin-top: -100px;
}

.section-stories {
    padding: 150px 0;
    position: relative;
}

.section-book {
    padding: 150px 0;
    background-image: linear-gradient(to right bottom, #7ed56fc9, #28b485c2);
}

.book {
    background-image: linear-gradient(105deg, rgba(white, .7) 0%, rgba(white, .7) 50%, rgba(blue, .0) 50%), url('../img/nat-10.jpg');
    background-size: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba($color: #000000, $alpha: .3);
    &__form {
        width: 50%;
        padding: 60px;
    }
}